body{
  font-family: sans-serif;
}

.line{
  position: absolute;
  top: 30px;
  left: 55px;
  width: 1px;
  height: 200px;
  background-color: rgb(0, 0, 0);
}
.line::after{
  content: "";
  position: absolute;
  bottom: 10px;
  left: -10px;
  /* min-width:95vw ; */
  min-height:1px ;
  background-color: rgb(0, 0, 0);
}

.bg{
  min-width: 800px;
  background: radial-gradient(53.15% 53.97% at 47.84% 51.62%, #615F62 0%, #363636 100%);
  /* Button shadows */
  
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.46), -4px -4px 8px rgba(116, 118, 119, 0.2);
  border-radius: 8px;
}
.lol{
  display: flex;
  align-items: center;
  justify-content: center;
}
.tick line{
  stroke: #c8c8bb;
}
.tick text{
  fill: #be8883;
  font-weight: bold;
  font-stretch: narrower;
  width: 20px;
  height: 20px;
  background-color: red;
}
.mark{
  fill: #137889;
}